In [2]:
import pandas as pd
from sklearn import linear_model

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/5_one_hot_encoding/homeprices.csv")
df.head(10)

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000
5     west windsor  2600  585000
6     west windsor  2800  615000
7     west windsor  3300  650000
8     west windsor  3600  710000
9      robinsville  2600  575000

In [4]:
dummies = pd.get_dummies(df.town)
dummies.head()

   monroe township  robinsville  west windsor
0                1            0             0
1                1            0             0
2                1            0             0
3                1            0             0
4                1            0             0

In [5]:
final_data = pd.concat([df, dummies], axis='columns')
final_data.head()

              town  area   price  monroe township  robinsville  west windsor
0  monroe township  2600  550000                1            0             0
1  monroe township  3000  565000                1            0             0
2  monroe township  3200  610000                1            0             0
3  monroe township  3600  680000                1            0             0
4  monroe township  4000  725000                1            0             0

In [6]:
final_data.drop(['town', 'west windsor'], axis='columns', inplace=True)

In [21]:
model = linear_model.LinearRegression()

In [8]:
x = final_data.drop(['price'], axis='columns')
y = final_data.price
x.head()
#y.head()

   area  monroe township  robinsville
0  2600                1            0
1  3000                1            0
2  3200                1            0
3  3600                1            0
4  4000                1            0

In [9]:
model.fit(x,y)

LinearRegression()

In [10]:
model.predict([[2800,0,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([590775.63964739])

In [11]:
model.predict([[3400,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([681241.66845839])

In [12]:
model.score(x,y)

0.9573929037221873

In [13]:
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [15]:
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle.head(10)

   town  area   price
0     0  2600  550000
1     0  3000  565000
2     0  3200  610000
3     0  3600  680000
4     0  4000  725000
5     2  2600  585000
6     2  2800  615000
7     2  3300  650000
8     2  3600  710000
9     1  2600  575000

In [23]:
x_tr = dfle[['town', 'area']].values
print(x_tr)

[[   0 2600]
 [   0 3000]
 [   0 3200]
 [   0 3600]
 [   0 4000]
 [   2 2600]
 [   2 2800]
 [   2 3300]
 [   2 3600]
 [   1 2600]
 [   1 2900]
 [   1 3100]
 [   1 3600]]

In [24]:
y_tr = dfle.price
print(y_tr)

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [25]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                                         # Leave the rest of the columns untouched
)

In [28]:
x_tr = ct.fit_transform(x_tr)

In [30]:
x_tr = x_tr[:,1:]
print(x_tr)

[[0.0e+00 0.0e+00 2.6e+03]
 [0.0e+00 0.0e+00 3.0e+03]
 [0.0e+00 0.0e+00 3.2e+03]
 [0.0e+00 0.0e+00 3.6e+03]
 [0.0e+00 0.0e+00 4.0e+03]
 [0.0e+00 1.0e+00 2.6e+03]
 [0.0e+00 1.0e+00 2.8e+03]
 [0.0e+00 1.0e+00 3.3e+03]
 [0.0e+00 1.0e+00 3.6e+03]
 [1.0e+00 0.0e+00 2.6e+03]
 [1.0e+00 0.0e+00 2.9e+03]
 [1.0e+00 0.0e+00 3.1e+03]
 [1.0e+00 0.0e+00 3.6e+03]]

In [31]:
model.fit(x_tr,y_tr)

LinearRegression()

In [34]:
model.predict([[1,0,2800]])

array([590775.63964739])

In [35]:
model.predict([[0,1, 3400]])

array([681241.6684584])

In [3]:
car = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/5_one_hot_encoding/Exercise/carprices.csv")
car.head(10
        )

               Car Model  Mileage  Sell Price($)  Age(yrs)
0                 BMW X5    69000          18000         6
1                 BMW X5    35000          34000         3
2                 BMW X5    57000          26100         5
3                 BMW X5    22500          40000         2
4                 BMW X5    46000          31500         4
5                Audi A5    59000          29400         5
6                Audi A5    52000          32000         5
7                Audi A5    72000          19300         6
8                Audi A5    91000          12000         8
9  Mercedez Benz C class    67000          22000         6

In [4]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(car['Mileage'], car['Sell Price($)'])

In [11]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
leC = LabelEncoder()
lec = car
lec['Car Model'] = leC.fit_transform(lec['Car Model'])
lec.head(10)

   Car Model  Mileage  Sell Price($)  Age(yrs)
0          1    69000          18000         6
1          1    35000          34000         3
2          1    57000          26100         5
3          1    22500          40000         2
4          1    46000          31500         4
5          0    59000          29400         5
6          0    52000          32000         5
7          0    72000          19300         6
8          0    91000          12000         8
9          2    67000          22000         6

In [12]:
X_car = lec[['Car Model', 'Mileage', 'Age(yrs)']].values
print(X_car)

[[    1 69000     6]
 [    1 35000     3]
 [    1 57000     5]
 [    1 22500     2]
 [    1 46000     4]
 [    0 59000     5]
 [    0 52000     5]
 [    0 72000     6]
 [    0 91000     8]
 [    2 67000     6]
 [    2 83000     7]
 [    2 79000     7]
 [    2 59000     5]]

In [13]:
Y_car = lec[['Sell Price($)']].values
print(Y_car)

[[18000]
 [34000]
 [26100]
 [40000]
 [31500]
 [29400]
 [32000]
 [19300]
 [12000]
 [22000]
 [20000]
 [21000]
 [33000]]

In [16]:
from sklearn.compose import ColumnTransformer
ctc = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                                         # Leave the rest of the columns untouched
)

In [18]:
X_car = ctc.fit_transform(X_car)

[[0.00e+00 1.00e+00 0.00e+00 6.90e+04 6.00e+00]
 [0.00e+00 1.00e+00 0.00e+00 3.50e+04 3.00e+00]
 [0.00e+00 1.00e+00 0.00e+00 5.70e+04 5.00e+00]
 [0.00e+00 1.00e+00 0.00e+00 2.25e+04 2.00e+00]
 [0.00e+00 1.00e+00 0.00e+00 4.60e+04 4.00e+00]
 [1.00e+00 0.00e+00 0.00e+00 5.90e+04 5.00e+00]
 [1.00e+00 0.00e+00 0.00e+00 5.20e+04 5.00e+00]
 [1.00e+00 0.00e+00 0.00e+00 7.20e+04 6.00e+00]
 [1.00e+00 0.00e+00 0.00e+00 9.10e+04 8.00e+00]
 [0.00e+00 0.00e+00 1.00e+00 6.70e+04 6.00e+00]
 [0.00e+00 0.00e+00 1.00e+00 8.30e+04 7.00e+00]
 [0.00e+00 0.00e+00 1.00e+00 7.90e+04 7.00e+00]
 [0.00e+00 0.00e+00 1.00e+00 5.90e+04 5.00e+00]]

In [19]:
X_car = X_car[:,1:]
print(X_car)

[[1.00e+00 0.00e+00 6.90e+04 6.00e+00]
 [1.00e+00 0.00e+00 3.50e+04 3.00e+00]
 [1.00e+00 0.00e+00 5.70e+04 5.00e+00]
 [1.00e+00 0.00e+00 2.25e+04 2.00e+00]
 [1.00e+00 0.00e+00 4.60e+04 4.00e+00]
 [0.00e+00 0.00e+00 5.90e+04 5.00e+00]
 [0.00e+00 0.00e+00 5.20e+04 5.00e+00]
 [0.00e+00 0.00e+00 7.20e+04 6.00e+00]
 [0.00e+00 0.00e+00 9.10e+04 8.00e+00]
 [0.00e+00 1.00e+00 6.70e+04 6.00e+00]
 [0.00e+00 1.00e+00 8.30e+04 7.00e+00]
 [0.00e+00 1.00e+00 7.90e+04 7.00e+00]
 [0.00e+00 1.00e+00 5.90e+04 5.00e+00]]

In [22]:
model.fit(X_car, Y_car)

LinearRegression()

In [24]:
model.score(X_car, Y_car)

0.9417050937281082

In [29]:
model.predict([[0,0,45000,4]])

array([[34537.77647335]])

In [4]:
c_dum = pd.get_dummies(car['Car Model'])
c_dum.head()

   Audi A5  BMW X5  Mercedez Benz C class
0        0       1                      0
1        0       1                      0
2        0       1                      0
3        0       1                      0
4        0       1                      0

In [24]:
car_con_dum = pd.concat([car, c_dum], axis='columns')
car_con_dum.head()

  Car Model  Mileage  Sell Price($)  ...  Audi A5  BMW X5  Mercedez Benz C class
0    BMW X5    69000          18000  ...        0       1                      0
1    BMW X5    35000          34000  ...        0       1                      0
2    BMW X5    57000          26100  ...        0       1                      0
3    BMW X5    22500          40000  ...        0       1                      0
4    BMW X5    46000          31500  ...        0       1                      0

[5 rows x 7 columns]

In [25]:
car_con_dum.drop(['Car Model', 'Audi A5'], inplace=True, axis='columns')
car_con_dum.head()

   Mileage  Sell Price($)  Age(yrs)  BMW X5  Mercedez Benz C class
0    69000          18000         6       1                      0
1    35000          34000         3       1                      0
2    57000          26100         5       1                      0
3    22500          40000         2       1                      0
4    46000          31500         4       1                      0

In [27]:
car_xt = car_con_dum.drop(['Sell Price($)'], axis='columns')
car_xt.head()

   Mileage  Age(yrs)  BMW X5  Mercedez Benz C class
0    69000         6       1                      0
1    35000         3       1                      0
2    57000         5       1                      0
3    22500         2       1                      0
4    46000         4       1                      0

In [28]:
car_yt = car_con_dum['Sell Price($)']
car_yt.head()

0    18000
1    34000
2    26100
3    40000
4    31500
Name: Sell Price($), dtype: int64

In [29]:
model = linear_model.LinearRegression()
model.fit(car_xt, car_yt)

LinearRegression()

In [30]:
model.score(car_xt, car_yt)

0.9417050937281083

In [31]:
model.predict([[45000,4,0,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([36991.31721061])

In [32]:
model.predict([[86000,7,1,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([11080.74313219])