<a href="https://colab.research.google.com/github/Venkatpandey/DataScience_ML/blob/main/ItemBasedCF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Item-Based Collaborative Filtering

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

As before, we'll start by importing the MovieLens 100K data set into a pandas DataFrame:

In [2]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MLCourse/ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MLCourse/ml-100k/u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

Now we'll pivot this table to construct a nice matrix of users and the movies they rated. NaN indicates missing data, or movies that a given user did not watch:

In [3]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
userRatings.head()

title    'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
user_id                             ...
0                              NaN  ...                                 NaN
1                              NaN  ...                                 NaN
2                              NaN  ...                                 NaN
3                              NaN  ...                                 NaN
4                              NaN  ...                                 NaN

[5 rows x 1664 columns]

Now the magic happens - pandas has a built-in corr() method that will compute a correlation score for every column pair in the matrix! This gives us a correlation score between every pair of movies (where at least one user rated both movies - otherwise NaN's will show up.) That's amazing!

In [4]:
corrMatrix = userRatings.corr()
corrMatrix.head()

title                      'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
title                                                 ...
'Til There Was You (1997)                        1.0  ...                                 NaN
1-900 (1994)                                     NaN  ...                                 NaN
101 Dalmatians (1996)                           -1.0  ...                                 NaN
12 Angry Men (1957)                             -0.5  ...                                 NaN
187 (1997)                                      -0.5  ...                                 NaN

[5 rows x 1664 columns]

However, we want to avoid spurious results that happened from just a handful of users that happened to rate the same pair of movies. In order to restrict our results to movies that lots of people rated together - and also give us more popular results that are more easily recongnizable - we'll use the min_periods argument to throw out results where fewer than 100 users rated a given movie pair:

In [24]:
corrMatrix = userRatings.corr(method='kendall', min_periods=85)
corrMatrix.head()

title                      'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
title                                                 ...
'Til There Was You (1997)                        NaN  ...                                 NaN
1-900 (1994)                                     NaN  ...                                 NaN
101 Dalmatians (1996)                            NaN  ...                                 NaN
12 Angry Men (1957)                              NaN  ...                                 NaN
187 (1997)                                       NaN  ...                                 NaN

[5 rows x 1664 columns]

Now let's produce some movie recommendations for user ID 0, who I manually added to the data set as a test case. This guy really likes Star Wars and The Empire Strikes Back, but hated Gone with the Wind. I'll extract his ratings from the userRatings DataFrame, and use dropna() to get rid of missing data (leaving me only with a Series of the movies I actually rated:)

In [25]:
myRatings = userRatings.loc[0].dropna()
myRatings

title
Empire Strikes Back, The (1980)    5.0
Gone with the Wind (1939)          1.0
Star Wars (1977)                   5.0
Name: 0, dtype: float64

Now, let's go through each movie I rated one at a time, and build up a list of possible recommendations based on the movies similar to the ones I rated.

So for each movie I rated, I'll retrieve the list of similar movies from our correlation matrix. I'll then scale those correlation scores by how well I rated the movie they are similar to, so movies similar to ones I liked count more than movies similar to ones I hated:

In [26]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print ("Adding sims for " + myRatings.index[i] + "...")
    # Retrieve similar movies to this one that I rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Now scale its similarity by how well I rated this movie
    sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)
    
#Glance at our results so far:
print ("sorting...")
simCandidates.sort_values(inplace = True, ascending = False)
print (simCandidates.head(10))

Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Star Wars (1977)...
sorting...
Empire Strikes Back, The (1980)                       5.000000
Star Wars (1977)                                      5.000000
Return of the Jedi (1983)                             3.136154
Empire Strikes Back, The (1980)                       3.074120
Star Wars (1977)                                      3.074120
Return of the Jedi (1983)                             2.846237
Raiders of the Lost Ark (1981)                        2.095354
Raiders of the Lost Ark (1981)                        2.080443
Chasing Amy (1997)                                    1.783839
Austin Powers: International Man of Mystery (1997)    1.753298
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

This is starting to look like something useful! Note that some of the same movies came up more than once, because they were similar to more than one movie I rated. We'll use groupby() to add together the scores from movies that show up more than once, so they'll count more:

In [27]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [28]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

Empire Strikes Back, The (1980)              8.198373
Star Wars (1977)                             8.178761
Return of the Jedi (1983)                    6.137034
Raiders of the Lost Ark (1981)               4.269277
Indiana Jones and the Last Crusade (1989)    3.110481
Sting, The (1973)                            2.998257
Batman (1989)                                2.690723
Back to the Future (1985)                    2.677352
Field of Dreams (1989)                       2.659989
Singin' in the Rain (1952)                   2.652131
dtype: float64

The last thing we have to do is filter out movies I've already rated, as recommending a movie I've already watched isn't helpful:

In [29]:
filteredSims = simCandidates.drop(myRatings.index)
filteredSims.head(10)

Return of the Jedi (1983)                    6.137034
Raiders of the Lost Ark (1981)               4.269277
Indiana Jones and the Last Crusade (1989)    3.110481
Sting, The (1973)                            2.998257
Batman (1989)                                2.690723
Back to the Future (1985)                    2.677352
Field of Dreams (1989)                       2.659989
Singin' in the Rain (1952)                   2.652131
E.T. the Extra-Terrestrial (1982)            2.631057
Jaws (1975)                                  2.625328
dtype: float64

There we have it!