<a href="https://colab.research.google.com/github/Venkatpandey/DataScience_ML/blob/main/Prepare_Titanic_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Titanic

### Download and Save

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('https://www.openml.org/data/get_csv/16826755/phpMYEkMl')
data.head()

   pclass  survived  ... body                        home.dest
0       1         1  ...    ?                     St Louis, MO
1       1         1  ...    ?  Montreal, PQ / Chesterville, ON
2       1         0  ...    ?  Montreal, PQ / Chesterville, ON
3       1         0  ...  135  Montreal, PQ / Chesterville, ON
4       1         0  ...    ?  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [3]:
data.drop(labels = ['name','boat', 'ticket','body', 'home.dest'], axis=1, inplace=True)

In [4]:
data = data.replace('?', np.nan)

data.isnull().sum()

pclass         0
survived       0
sex            0
age          263
sibsp          0
parch          0
fare           1
cabin       1014
embarked       2
dtype: int64

In [5]:
data.dtypes

pclass       int64
survived     int64
sex         object
age         object
sibsp        int64
parch        int64
fare        object
cabin       object
embarked    object
dtype: object

In [6]:
# missing values
data.dropna(subset=['embarked', 'fare'], inplace=True)

data['age'] = data['age'].astype('float')
data['age'] = data['age'].fillna(data['age'].mean())

In [7]:
def get_first_cabin(row):
    try:
        return row.split()[0]
    except:
        return 'N'

In [ ]:
data['cabin'] = data['cabin'].apply(get_first_cabin)

In [8]:
data.isnull().sum()

pclass         0
survived       0
sex            0
age            0
sibsp          0
parch          0
fare           0
cabin       1013
embarked       0
dtype: int64

In [9]:
data.to_csv('titanic.csv', index=False)